.active {
    background-color: brown;
    color: white;
}
table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}
.custom-header, .custom-content {
    margin-left: 0 !important;
}
